<!doctype html>
<html ng-app="test">


<head>
    <title>Local Angular</title>
    <script src="angular.min.js"></script>

    <!--jquery library only included for seperate btnHide.js-->
    <script src="jquery-1.12.1.min.js"></script>
    <script src="btnHide.js"></script>
</head>


<body>
    <div>
        <h1>using Angular-1.5.0</h1>
    </div>

    <div>
        <span>
    <h4>Enter your name</h4>
    <input type="text" ng-model="name">
    </span>
        <h2> Hello {{name}} !</h2>
    </div>

    </br>
    </br>

    <div ng-controller="testController">
        <button id="exbtn" ng-click="openWindow()">See Jquery!</button>
    </div>

    <!--open window to jquery example-->
    <script>
        var test = angular.module('test', []);

        test.controller('testController', ['$compile', '$scope', '$window',
            function($compile, $scope, $window) {
                $scope.openWindow = function() {
                    var popup = $window.open('jquery-ex.html', 'jquery-popup', 'width=700,height=500');
                    console.log("name of new window is: " + popup.name);
                };
            }
        ]);
    </script>

</body>

</html>