<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>currency example for angular</title>

    <script src="angular.min.js"></script>
    <script src="curControl.js"></script>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!--relate curControl.js as 'invoice' (kindof like an class-object)  -->
    <!--so get object fields with '.' operator when using ng-model -->
<div style="margin-top:20px" class="container well well-md" ng-app="Invoice" ng-controller="invController as invoice">
    <h1>Invoice:</h1>
    <hr>
    <div class="row">
        <div class="col-md-1">
            Quantity:
        </div>
        <div class="col-md-9">
             <input style="border-radius:10px; margin:2px" type="number" min="0" ng-model="invoice.qty" required >
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">Cost:</div>
        <div class="col-md-9">
            <input style="border-radius:10px; margin:2px" type="number" min="0" ng-model="invoice.cost" required >
            <br>
            <select ng-model="invoice.inCurr">
                <option ng-repeat="c in invoice.currencies">{{c}}</option>
            </select>
        </div>
    </div>
    <div>
        <br>
        <h2>Total:</h2>
        <ul>
            <li style="list-style-type: none" ng-repeat="c in invoice.currencies">
                {{ invoice.total(c) | currency:c }}
            </li>
        </ul>
        <br>
        <br>
        <button class="btn btn-info" ng-click="invoice.pay()">PAY NOW</button>
    </div>
</div>
</body>
</html>
