<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>showoff the scope of things</title>

    <script src="angular.min.js"></script>
    <script src="scopescript.js"></script>

</head>

<body ng-app="scopeExample">
    <h1>Simple hello app :)</h1>
    <div ng-controller="MyController">
        Your Name:
            <input type="text" ng-model="username">
            <button ng-click='sayHello()'>greet</button>
            <br>
            <br>
        Or Default:
            <button ng-click='defaulted()'>default</button>
        <hr>
        {{greeting}}
    </div>
</body>
</html>
